* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 85%;
  margin: 0 auto;
  padding: 20px 0;
}

#header {
  background: #010049;
}

.headert h1 {
  color: white;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header-input input {
  width: 220px;
  height: 19px;
  padding: 8px;
  border-radius: 3px;
  position: absolute;
  left: 59pc;
  bottom: -5px;
}
.ser {
  position: relative;
  font-size: 18px;
}
.sss {
  position: absolute;
  right: 140px;
  bottom: -3px;
  color: white;
  font-size: 20px;
}
.admins {
  position: absolute;
  right: 100px;
  bottom: -3px;
  color: white;
  font-size: 20px;
}
.search {
  position: absolute;
  left: 72.2pc;
  bottom: 1px;
  background: white;
  border: none;
}
.moon {
  position: absolute;
  color: white;
  width: 25px;
  height: 25px;
  bottom: -5px;
  right: 50px;
}

.hero-modal {
  position: absolute;
  width: 500px;
  height: 300px;
  background: cadetblue;
  margin: 0 auto;
  border-radius: 15px;
  display: none;
  top: 200px;
  right: 490px;
  z-index: 1;
}
.hero-modal input {
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 10px;
}
.btn {
  width: 100px;
  height: 40px;
  border-radius: 10px;
  margin-left: 190px;
  margin-top: 40px;
  background: aqua;
}
.hero-modal div {
  display: flex;
  justify-content: end;
  background: transparent;
}
